<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.civil">

    <application
        android:name=".KlicketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:exported="false"
        android:grantUriPermissions="true"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name=".finishproject"/>
        <activity android:name=".viewReportSummary" />
        <activity android:name=".ViewReport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ReportSubmit"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Report2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Schedule"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Report"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".NewProjectDetail"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".NewPage"
            android:label="@string/title_activity_newpage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/login_activity" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

</manifest>